<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>




<header class="menuComponent">
    <div class="container-fluid my-1 p-5">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-around d-flex align-items-center" {{ block.shopify_attributes }}>
                  <div>
                    <img
                    src="{{ section.settings.izquierda_logo | img_url: 'master' }}"
                    loading="lazy"
                    class="animationRotate"
                    width="30"
                    style="cursor: pointer;"
                    alt="{{ section.settings.izquierda_logo.alt | default: shop.name | escape }}"
                  >
                  </div>
                  <div style="text-align: center;">
                    <a href="/">
                    <img
                    src="{{ section.settings.centro_logo | img_url: 'master' }}"
                    loading="lazy"
                    class="topLogoFromlares"
                    style="cursor: pointer;"
                    alt="{{ section.settings.centro_logo.alt | default: shop.name | escape }}"
                  >
                  </a>
                  </div>
                  <div class="d-flex justify-content-center">
                    <a href="/search">
                      <img
                      src="{{ section.settings.busqueda_producto | img_url: 'master' }}"
                      loading="lazy"
                      class="me-3"
                      style="cursor: pointer;"
                      width="20"
                      alt="{{ section.settings.busqueda_producto.alt | default: shop.name | escape }}"
                    >
                  </a>
                  <a href="/cart">
                    <img
                    src="{{ section.settings.carrito_compras | img_url: 'master' }}"
                    loading="lazy"
                    class="me-3"
                    width="20"
                    style="cursor: pointer;"
                    alt="{{ section.settings.carrito_compras.alt | default: shop.name | escape }}"
                  >
                </a>
                  </div>
              
            </div>
        </div>
    </div>
</header>

<div class="formOpen animate__animated animate__fadeInDown" style="display: none;">
    <div class="container-fluid my-1 p-5">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-around d-flex align-items-center" {{ block.shopify_attributes }}>
                  <div>
                    <img
                    src="{{ section.settings.izquierda_logo | img_url: 'master' }}"
                    loading="lazy"
                    class="animationRotate"
                    style="cursor: pointer;"
                    width="30"
                    alt="{{ section.settings.izquierda_logo.alt | default: shop.name | escape }}"
                  >
                  </div>
                  <div style="text-align: center;">
                   <a href="/"> <img
                    src="{{ section.settings.centro_logo | img_url: 'master' }}"
                    loading="lazy"
                    style="cursor: pointer;"
                    class="topLogoFromlares"
                    alt="{{ section.settings.centro_logo.alt | default: shop.name | escape }}"
                  >
                </a>
                  </div>
                  <div class="d-flex justify-content-center">
                    <a href="/search">
                    <img
                   
                    src="{{ section.settings.busqueda_producto | img_url: 'master' }}"
                    loading="lazy"
                    class="me-3"
                    style="cursor: pointer;"
                    width="20"
                    alt="{{ section.settings.busqueda_producto.alt | default: shop.name | escape }}"
                  >
                </a>
                <a href="/cart">
                    <img
                    src="{{ section.settings.carrito_compras | img_url: 'master' }}"
                    loading="lazy"
                    class="me-3"
                    style="cursor: pointer;"
                    width="20"
                    alt="{{ section.settings.carrito_compras.alt | default: shop.name | escape }}"
                  >
                </a>
                  </div>
            </div>
        </div>

        <div class="formOpenLinks">
   {% for link in linklists.abierto.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
        <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
          <a href="{{ link.url }}" class="site-nav__link">
            {{ link.title }}
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </a>
          <ul class="site-nav__dropdown">
            {% for childlink in linklists[child_list_handle].links %}
            <li{% if childlink.active %} class="site-nav--active" {% endif %}>
              <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
        </li>
        {% endfor %}
        </ul>
        </li>
        {% else %}
        <li {% if link.active %}class="site-nav--active" {% endif %}>
          <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
            
        </li>
        {% endif %}
        {% endfor %}
        </div>

     

    </div>
</div>


{%- if request.page_type != 'cart' -%}
  {%- render 'cart-notification' -%}
{%- endif -%}



{% javascript %}
    $(document).ready(function(){
        $(document).on("click", ".animationRotate", function () {
           $(".formOpen").toggle();
          
        });
        
    })
   
{% endjavascript %}

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}


{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "izquierda_logo",
      "label": "Círculo"
    },
    {
      "type": "image_picker",
      "id": "centro_logo",
      "label": "Logotipo Fromlares"
    },
    {
      "type": "image_picker",
      "id": "busqueda_producto",
      "label": "Busqueda"
    },
    {
      "type": "image_picker",
      "id": "carrito_compras",
      "label": "Carrito"
    }
  ]
}
{% endschema %}