<div class="container my-5">
  <div class="row  my-5 py-5">
    <div class="col-md-6 p-5" style="background-color: #36499B; color: white;">
      <h1 style="color: white !important">  {{section.settings.principalTitle}}</h1>
      <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

        {{section.settings.description}}
        <br>
        <br>

        <a class="buttonFromlares" href="{{section.settings.button_link}}">
            SEE MORE
        </a>
    </div>
    <div class="col-md-6  imageDerechaBannerCompleto p-5" style="text-align: center; background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url({{ section.settings.imageDerechaFondo | img_url: 'master' }})">
               <img class="imgCentralBannerDerechoCompleto" src="{{ section.settings.imagenDerechaPrincipal | img_url: 'master' }}"  />
    </div>
  </div>
</div>


{% schema %}
{
    "name": "Banner Completo",
    "settings": [
       {
            "type": "text",
            "id": "principalTitle",
            "label": "Título"
        },
       {
            "type": "textarea",
            "id": "description",
            "label": "Título"
        },
        {
            "type": "image_picker",
            "id": "imageDerechaFondo",
            "label": "Image"
          }, 
        {
            "type": "image_picker",
            "id": "imagenDerechaPrincipal",
            "label": "Image"           
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
    ]
}

{% endschema %}


