<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>


<div class="container mb-4">
  <div class="row">
    <div class="col-12 text-center">
          <h1> {{ page.title | escape }}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12" style="text-align: justify;">
           {{ page.content }} 
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
