{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}


{% if collection.image.src %}
    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-md-3 text-center">
                <div class="mt-3">
                    <img style="width: 100%;" src="{{'fromlaresCuadro.svg' | asset_url}}" alt="logotipo Fromlares" class="px-4"/>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h6>COLLECTION</h6>
                    <br>
                    <h3>
                        {{- collection.title | escape -}}</h3>
                    <p style="width: 80%; margin: 0 auto;">
                        {{ collection.description }}
                    </p>
                    <br>
                    <br>
                    <div class="grayBelt mx-auto">
                        <div class="d-flex justify-content-around">
                            <a href="/collections/dining">Dining</a>
                            <a href="/collections/living">Living</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <img class="img-fluid" style="width: 100%;" src="{{ collection.image.src | img_url: 'master' }}"/>
            </div>
        </div>
    </div>
{% endif %}


{% schema %}

{
    "name": "t:sections.main-collection-banner.name",
    "class": "spaced-section spaced-section--full-width",
    "settings": [
        {
            "type": "paragraph",
            "content": "t:sections.main-collection-banner.settings.paragraph.content"
        }, {
            "type": "checkbox",
            "id": "show_collection_description",
            "default": false,
            "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
        }, {
            "type": "checkbox",
            "id": "show_collection_image",
            "default": false,
            "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
            "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
        }
    ]
}

{% endschema %}
