{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}


<div class="container-fluid g-0">
    <div class="row g-0">
        <div class="col-md-3 text-center sticky-top">
            <img style="width: 100%;" src="{{'fromlaresCuadro.svg' | asset_url}}" alt="logotipo Fromlares" class="px-4"/>
            <br>
            <br>
            <br>
            <br>
            <h6>COLLECTION</h6>
            <br>
            <h3>
                {{- collection.title | escape -}}</h3>
            <p style="width: 80%; margin: 0 auto;">
                {{ collection.description }}
            </p>
        </div>
        <div class="col-md-9">
            <img class="img-fluid" style="width: 100%;" src="{{ collection.image.src | img_url: 'master' }}"/>
        </div>
    </div>
</div>


{% schema %}

{
    "name": "t:sections.main-collection-banner.name",
    "class": "spaced-section spaced-section--full-width",
    "settings": [
        {
            "type": "paragraph",
            "content": "t:sections.main-collection-banner.settings.paragraph.content"
        }, {
            "type": "checkbox",
            "id": "show_collection_description",
            "default": false,
            "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
        }, {
            "type": "checkbox",
            "id": "show_collection_image",
            "default": false,
            "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
            "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
        }
    ]
}

{% endschema %}
